<%= form_tag({controller: "movies", action: "index"}, method: "get") do %>
  <div>
    <%= label_tag(:search, "Search:") %>
    <%= text_field_tag(:search) %>
  </div>
  <div>
    <%= select_tag(:runtime_in_minutes, options_for_select(
      [
        ['Please select', ""],
        ['Under 90 minutes', 1],
        ['Between 90 and 120 minutes', 2],
        ['Over 120 minutes', 3]
        ], 0
    )) %>
  </div>
  <div>
    <%= submit_tag("Search") %>
    <%= button_tag "Reset", type: :reset %>
  </div>
<% end %>
