<h3 class="movie-topics">New Releases</h3>
<div class="movie-slider-auto">
  <% @new_release_movies = Movie.where("release_date >= ?", (Time.now.ago(1.year))) %>
  <% i=0 %>
  <% @new_release_movies.each do |movie| %>
    <% i+=1 %>
    <div>
      <a data-toggle="modal" data-target="#latest-movie-modal<%= i %>"><%= image_tag(movie.poster_image_url) %>
      <p id="movie-title"><%= truncate(movie.title, length: 20) %></p></a>
      <div class="movie-year">
        <%= year(movie.release_date) %>
      </div> 
      <div class="movie-duration">
        <%= min_to_hr(movie.runtime_in_minutes) %>
      </div>
      <div class="movie-average">
        <% if movie.reviews.any? %>
          <%= (movie.review_average).times.collect{'★'}.join(' ') %> 
          <span class="movie-no-review"><%= (10 - movie.review_average).times.collect{'★'}.join(' ') %></span>
        <% else %>
          <span class="movie-no-review"><%= 10.times.collect{'★'}.join(' ') %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<% i=0 %>
<% @new_release_movies.each do |movie| %>
  <% i+=1 %>
  <div class="modal fade" id="latest-movie-modal<%= i %>">
    <div class="modal-dialog movie-modal-size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="modal-title"><%= movie.title %></h3>
        </div>
        <div class="modal-body">
          <div>
          <%= link_to image_tag(movie.poster_image_url, :class => "modal-image"), movie_path(movie) %>
          </div>
          <div>
          <h4 class="modal_movie_title"><%= movie.title %> <small>(<%= formatted_date(movie.release_date) %>)
          <% if current_user %>
            <%= link_to "Edit", edit_movie_path(movie) %> <%= link_to "Delete", movie_path(movie), method: :delete, confirm: "You sure?" %> 
          <% end %>
          </small></h4>
          <p>Director: <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</p>
          <p><%= movie.description %></p>
          </div>

          <hr>

          <h4>Reviews</h4>
            <div class="movie-average">
              <% if movie.reviews.any? %>
                <%= (movie.review_average).times.collect{'★'}.join(' ') %> 
                <span class="movie-no-review"><%= (10 - movie.review_average).times.collect{'★'}.join(' ') %></span>
              <% else %>
                <span class="movie-no-review"><%= 10.times.collect{'★'}.join(' ') %></span>
              <% end %>
            </div>
          <% if current_user %>
            <% movie.reviews.each do |review| %>
              <blockquote class="movie-review">
                <p><%= review.text %></p>
                <p>Rating: <%= review.rating_out_of_ten %>/10</p>
                <small> <%= link_to review.user.full_name.titleize, user_path(review.user_id) %></small><br/>
              </blockquote>
            <% end %>
            <p><%= link_to "Write a review!", new_movie_review_path(movie) %></p>
          <% else %>
            <% movie.reviews.each do |review| %>
              <blockquote class="movie-review">
                <p><%= review.text %></p>
                <p>Rating: <%= review.rating_out_of_ten %>/10</p>
                <small> <%= link_to review.user.full_name.titleize, user_path(review.user_id) %></small><br/>
              </blockquote>
            <% end %>
            <form>
                <p>Please <%= link_to "log in", new_session_path %> to add your own reviews.</p>
                <textarea disabled rows="2" cols="76" name="content"></textarea>
            </form>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% if current_user %>
            <button type="submit" class="btn btn-primary">Save changes</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<h4 class="movie-topics">Sort By</h4>
<%= form_tag({controller: "movies", action: "index" }, method: "get", class: "sort-by-form") do %>
  <div class="sort-by-selection">
    <%= select_tag(:sort_by, options_for_select(
      [
        ['Please select', ""],
        ['Title', "title"],
        ['Duration', "duration"],
        ['Director', "director"],
        ['Newest', "newest"]
        ], 0
    ), class: "selection-style") %> <i class="fa fa-sort-desc"></i>
  </div>
  <div class="sort-by-search">
    <%= button_tag '<i class="fa fa-search"></i>'.html_safe, class: "search-button" %>
  </div>
<% end %>


<div class="movie-slider">
  <% i=0 %>
  <% @movies.each do |movie| %>
  <% i+=1 %>
    <div>
      <a data-toggle="modal" data-target="#movie-modal<%= i %>"><%= image_tag(movie.poster_image_url) %>
      <p id="movie-title"><%= truncate(movie.title, length: 20) %></p></a>
      <div class="movie-year">
        <%= year(movie.release_date) %>
      </div> 
      <div class="movie-duration">
        <%= min_to_hr(movie.runtime_in_minutes) %>
      </div>
      <div class="movie-average">
        <% if movie.reviews.any? %>
          <%= (movie.review_average).times.collect{'★'}.join(' ') %> 
          <span class="movie-no-review"><%= (10 - movie.review_average).times.collect{'★'}.join(' ') %></span>
        <% else %>
          <span class="movie-no-review"><%= 10.times.collect{'★'}.join(' ') %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<% i=0 %>
<% @movies.each do |movie| %>
  <% i+=1 %>
  <div class="modal fade" id="movie-modal<%= i %>">
    <div class="modal-dialog movie-modal-size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="modal-title"><%= movie.title %></h3>
        </div>
        <div class="modal-body">
          <div>
          <%= link_to image_tag(movie.poster_image_url, :class => "modal-image"), movie_path(movie) %>
          </div>
          <div>
          <h4 class="modal_movie_title"><%= movie.title %> <small>(<%= formatted_date(movie.release_date) %>)
          <% if current_user %>
            <%= link_to "Edit", edit_movie_path(movie) %> <%= link_to "Delete", movie_path(movie), method: :delete, confirm: "You sure?" %> 
          <% end %>
          </small></h4>
          <p>Director: <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</p>
          <p><%= movie.description %></p>
          </div>

          <hr>

          <h4>Reviews</h4>
          <div class="movie-average">
            <% if movie.reviews.any? %>
              <%= (movie.review_average).times.collect{'★'}.join(' ') %> 
              <span class="movie-no-review"><%= (10 - movie.review_average).times.collect{'★'}.join(' ') %></span>
            <% else %>
              <span class="movie-no-review"><%= 10.times.collect{'★'}.join(' ') %></span>
            <% end %>
          </div>
          <% if current_user %>
            <% movie.reviews.each do |review| %>
              <blockquote class="movie-review">
                <p><%= review.text %></p>
                <p>Rating: <%= review.rating_out_of_ten %>/10</p>
                <small> <%= link_to review.user.full_name.titleize, user_path(review.user_id) %></small><br/>
              </blockquote>
            <% end %>
            <p><%= link_to "Write a review!", new_movie_review_path(movie) %></p>
          <% else %>
            <% movie.reviews.each do |review| %>
              <blockquote class="movie-review">
                <p><%= review.text %></p>
                <p>Rating: <%= review.rating_out_of_ten %>/10</p>
                <small> <%= link_to review.user.full_name.titleize, user_path(review.user_id) %></small><br/>
              </blockquote>
            <% end %>
            <form>
                <p>Please <%= link_to "log in", new_session_path %> to add your own reviews.</p>
                <textarea disabled rows="2" cols="76" name="content"></textarea>
            </form>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% if current_user %>
            <button type="submit" class="btn btn-primary">Save changes</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "users/usermodal" %>


<script>
  var current_location = window.location.href;
  if (current_location != "https://moviebox-alvin.herokuapp.com/movies") {
    window.location.href = "https://moviebox-alvin.herokuapp.com/movies";
  } else {

  }
</script>