<h1>User List</h1>

<table>
  <tr>
    <th>email</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>password</th>
    <th>created_at</th>
    <th>admin</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.password_digest %></td>
      <td><%= user.created_at %></td>
      <td><%= user.admin %></td>
    </tr>
  <% end %>
</table>