<h1>User List</h1>
<%= link_to "Create user", new_admin_user_path %>

<%= paginate @users %>
<table>
  <tr>
    <th>email</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>created_at</th>
    <th>admin</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.created_at %></td>
      <td><%= user.admin %></td>
      <td><%= link_to "edit", edit_admin_user_path(user) %></td>
      <td><%= link_to "delete", admin_user_path(user), method: :delete, confirm: "You sure?" %>
    </tr>
  <% end %>
</table>